{% extends "base.html" %} {% block content %}
<!--KANE-->
<div class="column">
  <div class="card">
    <div class="card-image">
      <figure class="image">
        <img
          src="https://avatars.githubusercontent.com/u/51185594?v=4"
          alt="Image of Kane"
        />
      </figure>
    </div>
    <div class="card-content">
      <div class="content has-text-centered">
        <h4>Kane</h4>
        <p style="font-size:small;">Harvard MS Data Science Candidate</p>
        <p style="text-align: left">
          Entrepreneur & Software Engineer highly skilled in data streaming and
          software engineering, with professional expertise in Kafka, Spark, and
          modern data engineering at world leading oil and gas private equity
          firms (Texas).
        </p>
      </div>
    </div>
  </div>
</div>

<!--JUAN-->
<div class="column">
  <div class="card">
    <div class="card-image">
      <figure class="image">
        <img
          src="https://media.licdn.com/dms/image/D4E03AQEmvsv2oMQADA/profile-displayphoto-shrink_200_200/0/1668572481039?e=1703116800&v=beta&t=OTqlou71RwOrtJILwsarmXgRf-WxcoTgsosUkssT6H8"
          alt="Image of Juan"
        />
      </figure>
    </div>
    <div class="card-content">
      <div class="content has-text-centered">
        <h4>Juan</h4>
        <p style="font-size:small;">
          Harvard Psychology PhD Candidate<br />Secondary Field in Data Science
        </p>
        <p style="text-align: left">
          PhD Researcher proficient in leveraging statistical modeling,
          computational modeling, and machine learning with industry experience
          building proprietary technology for enterprise and supply-chain
          automation.
        </p>
      </div>
    </div>
  </div>
</div>

<!--PHILIP-->
<div class="column">
  <div class="card">
    <div class="card-image">
      <figure class="image">
        <img
          src="https://media.licdn.com/dms/image/C4D03AQHZ8WCI_8Yqvw/profile-displayphoto-shrink_200_200/0/1607287035193?e=1703116800&v=beta&t=3SB6wLirP0X492U-u7CCekO3GiFXUD42KW8cqMPPSVQ"
          alt="Image of Philip"
        />
      </figure>
    </div>
    <div class="card-content">
      <div class="content has-text-centered">
        <h4>Philip</h4>
        <p style="font-size:small;">Harvard MSE Computational Science & Engineering Candidate</p>
        <p style="text-align: left">
          Entrepreneur & Quantitative Researcher specialized expertise in
          industrial & applied machine learning in finance (insurance, banking &
          hedge funds) & tech start-up advisory. Forbes 30 under 30.
        </p>
      </div>
    </div>
  </div>
</div>

<!--DAVID-->
<div class="column">
  <div class="card">
    <div class="card-image">
      <figure class="image">
        <img
          src="https://media.licdn.com/dms/image/C4D03AQHWkMTMjC4zMw/profile-displayphoto-shrink_200_200/0/1659469535587?e=1703116800&v=beta&t=fGvi2J27Xv0l0hbQw9cPCZd8RoAJUcY2el4WIBTSz_w"
          alt="Image of David"
        />
      </figure>
    </div>
    <div class="card-content">
      <div class="content has-text-centered">
        <h4>David</h4>
        <p style="font-size:small;">Harvard MS & Harvard Business School MBA Candidate</p>
        <p style="text-align: left">
          Highly proficient software engineer & industrial experience deploying
          production-grade software products in FAANG corporations & in the
          energy sector. Research experience at Stanford & Harvard.
        </p>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
