{% extends "base.html" %} {% block content %}

<div class="column">
  <div class="card">
    <header class="card-header">
      <p class="card-header-title">Copyright Notice</p>
    </header>
    <div class="card-content">
      <div class="content">
        All content on this website, encompassing text, graphics, logos, images,
        and other materials, is the exclusive property of its creators and is
        safeguarded by copyright laws. Any unauthorized use or reproduction of
        content from this website without prior express written permission from
        the creators is strictly prohibited and constitutes a violation of
        copyright law. © 2023
      </div>
    </div>
  </div>
  {% endblock content %}
</div>
