{% extends "base.html" %} {% block content %}
<div class="column is-half">
  <div id="map" style="height: 85vh"></div>
</div>
<div class="column is-half">
  <div class="card" style="height: 85vh">
    <div class="tabs is-centered">
      <ul>
        <li class="is-active" data-target="red-line-table">
          <a id="red-line">
            <span class="icon-text">
              <span class="icon">
                <i class="fa-solid fa-train-subway"></i> </span
              ><span>Red</span>
            </span>
          </a>
        </li>
        <li data-target="blue-line-table">
          <a id="blue-line">
            <span class="icon-text">
              <span class="icon">
                <i class="fa-solid fa-train-subway"></i> </span
              ><span>Blue</span>
            </span>
          </a>
        </li>
        <li>
          <a id="orange-line">
            <span class="icon-text">
              <span class="icon">
                <i class="fa-solid fa-train-subway"></i> </span
              ><span>Orange</span>
            </span>
          </a>
        </li>
        <li>
          <a id="green-line-b">
            <span class="icon-text">
              <span class="icon">
                <i class="fa-solid fa-train-subway"></i> </span
              ><span>Green-B</span>
            </span>
          </a>
        </li>
        <li>
          <a id="green-line-c">
            <span class="icon-text">
              <span class="icon">
                <i class="fa-solid fa-train-subway"></i> </span
              ><span>Green-C</span>
            </span>
          </a>
        </li>
        <li>
          <a id="green-line-d">
            <span class="icon-text">
              <span class="icon">
                <i class="fa-solid fa-train-subway"></i> </span
              ><span>Green-D</span>
            </span>
          </a>
        </li>
      </ul>
    </div>

    <div class="card-content has-text-centered">
      <div class="content" id="tab-content">
        <table
          class="table is-hoverable center is-borderless"
          id="red-line-table"
        >
          <thead>
            <tr>
              <th>Station</th>
              <th>Scheduled Arrival</th>
              <th>Predicted Arrival</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Alewife</td>
              <td>Arrival Time</td>
              <td>Departure Time</td>
            </tr>
          </tbody>
        </table>
        <table
          class="table is-hoverable is-hidden center is-borderless"
          id="blue-line-table"
        >
          <thead>
            <tr>
              <th>Blue</th>
              <th>Scheduled Arrival</th>
              <th>Predicted Arrival</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Alewife</td>
              <td>Arrival Time</td>
              <td>Departure Time</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<script src="static/js/index.js"></script>
<script>
  // render map
  const bostonCoordinates = [-71.0738174384645, 42.356584808288495];
  mapboxgl.accessToken = {{mapbox_token | tojson | safe }};

  const map = new mapboxgl.Map({
    container: "map",
    style: "mapbox://styles/kanenorman/clouu2c3100mv01qsa51rfug6",
    center: bostonCoordinates,
    zoom: 14,
  });
</script>
<script>
  <!-- Plot the markers for the train stop locations -->
  const stops = {{stops | tojson | safe }};

  stops.forEach(function (stop) {
    const popUp = new mapboxgl.Popup().setHTML(stop.stop_name)
    const marker = new mapboxgl.Marker({color: stop.color, size: "small"}).setLngLat([stop.longitude, stop.latitude]).setPopup(popUp);
    marker.addTo(map);
  });
</script>

{% endblock content %}
