{% extends "base.html" %} {% block content %}

<div class="column">
  <div class="card">
    <header class="card-header">
      <p class="card-header-title">Terms & Conditions</p>
    </header>
    <div class="card-content">
      <div class="content">
        <h6>Acceptance of Terms</h6>
        <p>
          By using this website, you agree to comply with and be bound by these
          Terms and Conditions. If you do not agree with these terms, please
          refrain from using this website.
        </p>

        <h6>Not Affiliated with the MBTA</h6>
        <p>
          The Project and this website are independent and not affiliated with
          the Massachusetts Bay Transportation Authority (MBTA) or any official
          transportation organization. While we strive for accuracy and provide
          transportation-related information and services, it is important to
          note that we do not represent any official transportation entity. Our
          aim is to be a valuable resource, but we are not an official source of
          information.
        </p>

        <h6>MassDOT Licensee Acknowledgment</h6>
        <p>
          This dataset is provided by MassDOT. To use this data set, you must
          adhere to all applicable laws, rules, and regulations governing the
          receipt and use of the data.
        </p>

        <h6>User Conduct</h6>
        <p>
          You agree not to engage in any illegal, harmful, or disruptive
          activities on this website. It is strictly prohibited to use this
          website for transmitting malicious software, spam, or any harmful
          content.
        </p>

        <h6>Personal Hobby Use Only</h6>
        <p>
          This website and the associated project are developed for personal
          hobby use. The Project is not intended for consumer use or as a
          decision-making tool. Users must understand that it may contain
          inaccuracies or errors, and no guarantees or warranties are associated
          with its use. Users are encouraged to exercise caution, use their
          discretion, and independently verify information provided by the
          Project.
        </p>

        <h6>Responsible Usage</h6>
        <p>
          Users of this website and the Project are expected to use the
          information or functionality responsibly and in compliance with local
          laws and regulations. This includes using the Project for personal,
          non-commercial purposes and not relying on it as the sole source of
          transportation information. Users are responsible for ensuring the
          accuracy of the information obtained and are encouraged to
          cross-reference it with official sources when necessary.
        </p>

        <h6>Changes to Terms and Conditions</h6>
        <p>
          We reserve the right to update these terms and conditions without
          prior notice. Users are encouraged to regularly review these terms to
          stay informed of any changes. Continued use of the website and the
          Project constitutes acceptance of any modifications to these terms.
        </p>

        <h6>Limitation of Liability</h6>
        <p>
          To the extent permitted by applicable law, we shall not be liable for
          any direct, indirect, incidental, special, or consequential damages
          arising from the use of the Project or this website. This includes,
          but is not limited to, any loss of data, loss of profits, or any other
          form of economic loss, even if we have been advised of the possibility
          of such damages.
        </p>

        <p>Last updated: October 16, 2023</p>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
